body {
    background-color: lightcyan;
}

#printers_ul {
    list-style-type: none;
    text-align: center;
    height: auto;
    width: 100%;
    min-height: 200px;
}

.printers_li {
    list-style-type: none;
    float:left;
    background-color: white;
    width:30%;
    margin:10px;
    height: 185px;
}
