body {
    background-color: lightcyan;
}

h1, #heading {
    text-align: center;
}

#printers_ul {
    list-style-type: none;
    text-align: center;
    height: auto;
    width: 100%;
}

.printers_li {
    list-style-type: none;
    float:left;
    background-color: white;
    width:30%;
    margin:10px;
    height: 215px;
}

#new-printer-div {
    margin-left: 15%;
    clear: both;
    width: 500px;
    float: left;
}