body {
    background-color: lightcyan;
}

#printers_ul {
    list-style-type: none;
}

.printers_li {
    list-style-type: none;
    float:left;
    background-color: white;
    width:30%;
    margin:10px;
    min-height: 300px;
}
