body {
    display: flex;
    flex-direction: column;
    align-items: center;      /* horizontal centering */
    min-height: 100vh;        /* full screen height */
    background-color: lightcyan;
}

#prompt{
    background-color: white;
    padding: 20px;
}
