<!DOCTYPE html>
<html>
<head>
    <title> Pitt Passport </title>
    <link rel="stylesheet" type="text/css" href="{{style}}">
</head>
<body>
    <img id="passport" src="{{passport}}">

    {% if error %}
    <div id="error-message">
        <div id="error-text">
            <div id="error-title">ERROR</div> 
            {{ error }}
        </div> 
    </div> 
    {% endif %}

    <div id="sign-in-box"> 
        <form action="" method="post">
            Username:  <input type="text" name="user" />
            <br />
            Password:  <input type="text" name="pass" />
            <br />

            <input type="submit" value="submit" />
        </form>
    </div>

    <div id="disclaimer"> 
        <img id="disc-img" src="{{disclaimer}}"> 
        <h1> ATTENTION </h1> 
        <h2> THIS IS NOT THE REAL PITT PASSPORT </h2> 
        <h2> THIS IS A PROJECT FOR CS1530 </h2> 
        <h3> Do not use your real pitt university computing account credentials to login to this page </h3> 
    </div> 
</body>
</html>